@import "../../helpers/helper.scss";
@import "../../styles/colors.scss", "../../styles/fonts.scss";

.privacySpan {
  text-align: center;
  @include rubik12Medium;
  color: $white-accent;
}

.singInQuestion {
  @include rubik17Medium;
  color: $white-accent;
  margin-top: 20px;
  margin-bottom: 20px;
}

.centerPositionColumn {
  @include centerPositionColumn;
}

.sliderPosition {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  outline: none !important;
  img {
    margin-bottom: 17px;
  }
  p {
    @include rubik17Regular;
  }
}

.sliderAboutText {
  @include rubik20Bold;
  color: $white-accent;
  text-align: center;
  margin-bottom: 27px;
}

.carouselSingUpSpan {
  @include rubik17Medium;
  color: $white-accent;
}

.slick-dots {
  position: relative!important;
  bottom: 0!important;
  .slick-active {
    opacity: 0.5;
  }
}
