$primary-gray: #363a47;
$light-gray: #585d66;
$green-accent: #03d6a1;
$white-accent: #ffffff;
$dark-green: #235246;
$darkst-green: #1f322d;
$dark-red: #bd1835;
$navbar-gray: #545963;
$discover-gray: #595f6c;
$light-red: rgb(255, 37, 37);
$matches-gray: #5f646f;
$light-black: #34373f;
$toggle-gray: #636872;
$categories-gray: #979797;
